snippet log
	console.log({$1})
snippet st
	/*string*/ 
snippet nu
	/*number*/ 
snippet ob
	/*object*/ 
snippet bo
	/*boolean*/ 
snippet ar
	/*array*/ 
snippet ar<
	/*array<${1}>*/ 
snippet fu
	/*function*/ 
snippet fun
	function(${0}) {
	}
